:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #272829; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #45505b; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #0563bb; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}


body {
  font-family: "Raleway", sans-serif;
  
}

/* Hero Section */

#Hero-Section{
  background-image: url("../img/fondo.jpg");
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  font: normal normal bold 70px/82px Raleway;
  letter-spacing: 0.7px;
  color: white;
  opacity: 100%;
  
  /*top: 150px;
  left: 486px;
  width: 100%;*/
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h2 {
  font-weight: 700;
  font-size: 24px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent-color);
  line-height: 0;
}



/*--------------------------------------------------------------
# Resume Section
--------------------------------------------------------------*/
.resume .resume-title {
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}


.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--accent-color);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-bottom: 5px;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 0px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 5px;
}

.resume .resume-item ul {
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}
/*
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
}*/


#nav{
  background-color: #373A3C;
  font-family: var(--nav-font)
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
 /* color: #373a3c;*/
}

#resumen{
  text-align: justify;
}
a{
  text-decoration: none;
}

.separator {
  height: 5px;
  background-color: #dee2e6;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
}
#title {
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  /*font-weight: 700;
  font-size: 24px;*/

}
.navbar-toggler {
  border-color: white
}
.navbar-toggler:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo al pasar el mouse */
}

.navbar-toggler:active {
  background-color: rgba(179, 236, 240, 0.5); /* Cambia el color al hacer clic */
}
.nav-link {
  color: white; /* Cambia el color de los enlaces */
}

.nav-link:hover {
  color: #ff6600; /* Cambia el color al pasar el mouse */
}
#lang{
  width: 30px;
  height: auto;
}
